/* Banner layout */
#banner {
  display: flex;
  align-items: center;
  height: var(--banner-height);
  background: var(--banner-bg-color);
  position: relative;
  justify-content: space-between;
  padding: 7px 18px;
}
#banner #main-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
#banner #main-logo span{
  color: var(--banner-logo-color);
  font-weight: bold;
  font-size: 23px;
}

#banner #main-logo svg {
  display: block;
  height: 51px;
  width: auto;
  margin-right: 12px;
}

#banner #company-logo svg {
  display: block;
  height: 21px;
  width: auto;
  
}