html {
  /* Define colors */
  --main-bg-color: rgb(27, 30, 39);

  --banner-text-color: rgb(255, 255, 255);
  --banner-bg-color: rgb(41, 45, 57);

  --nearform-red: #ED1828;
  --nearform-grey: #797A7C;

  --pure-white: rgb(255, 255, 255);
  --pure-black: rgb(0, 0, 0);

  --cyan-highlight: rgb(96, 147, 208);
  --cyan: rgb(63, 125, 198);

  --type-colour-1: rgb(24, 237, 221);
  --type-colour-2: rgb(250, 245, 13);
  --type-colour-3: rgb(249, 110, 124);
  --type-colour-4: rgb(135, 62, 149);
  --type-colour-5: rgb(245, 245, 245);

  /* Define simple SVG icons */
  --down-white-chevron-arrow: url('data:image/svg+xml;utf8,<svg fill="rgb(255,255,255)" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"/></svg>');

  --main-text-size: 10pt;
}

/* Main layout */

html, body {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background: var(--main-bg-color);
}

/* Global Typography */

html {
  font-family: sans-serif;
}

html * {
  box-sizing: border-box;
}

html #banner, html #header, html #node-link, html #side-bar, html #footer .bar {
  /* Light text on dark background in the browser looks blocky. To make it smoother
     and clearer, we use antialiased font rendering in dark theme. More details,
     especially on why this is a bad idea for dark text on light backgrounds:
       http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.light-theme #header, html.light-theme #node-link, html.light-theme #side-bar {
  -webkit-font-smoothing: unset;
  -moz-osx-font-smoothing: unset;
}

.hidden {
  display: none;
}

/* Banner layout */

#banner {
  height: 65px;
  background: var(--banner-bg-color);
  position: relative;
}

#banner svg:last-child {
  position: absolute;
  height: 40px;
  right: 28px;
  top: 13px;
}

#banner::after {
  content: 'BubbleProf';
  font-size: 14pt;
  font-weight: lighter;
  color: var(--banner-text-color);

  display: block;
  margin-left: 35px;
  line-height: 65px;
}

/* Header */

#header {
  margin: 8px 24px 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--cyan);
  display: flex;
  flex-direction: row;
  font-size: var(--main-text-size);
}

#header .panel {
  margin: 0 18px 0 6px;
}

#header .panel > label {
  color: var(--cyan);
}

#header .interactive-key {
  display: inline-block;
  margin: 0 3px;
  padding: 2px;
  border-bottom: 1px solid transparent;
}

#header .interactive-key label {
  color: var(--pure-white);
}

.type-icon,
.party-icon {
  display: inline-block;
  width: 9px;
}

.type-icon {
  margin: 4px;
  height: 1px;
  border-top: 1px solid transparent;
}

.party-icon {
  height: 8px;
  margin: 1px 4px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  background: var(--pure-black);
}

body[data-highlight-party='user'] #header .interactive-key.party-user,
body[data-highlight-party='external'] #header .interactive-key.party-external,
body[data-highlight-party='nodecore'] #header .interactive-key.party-nodecore,
body[data-highlight-type='files-streams'] #header .interactive-key.type-files-streams,
body[data-highlight-type='networks'] #header .interactive-key.type-networks,
body[data-highlight-type='crypto'] #header .interactive-key.type-crypto,
body[data-highlight-type='timing-promises'] #header .interactive-key.type-timing-promises,
body[data-highlight-type='other'] #header .interactive-key.type-other {
  border-bottom-color: var(--cyan);
}

body[data-highlight-type='files-streams'] #header .interactive-key.type-files-streams .type-icon,
body[data-highlight-type='networks'] #header .interactive-key.type-networks .type-icon,
body[data-highlight-type='crypto'] #header .interactive-key.type-crypto .type-icon,
body[data-highlight-type='timing-promises'] #header .interactive-key.type-timing-promises .type-icon,
body[data-highlight-type='other'] #header .interactive-key.type-other .type-icon {
  border-top-width: 2.5px;
}

/* Footer */

#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2;
}

#footer .bar {
  border-top: 1px solid var(--cyan-highlight);
  background: var(--cyan);
  overflow: hidden;
  cursor: pointer;
  height: 65px;
  width: 100%;
}

#footer .bar .text {
  font-size: 14pt;
  font-variant: all-small-caps;
  font-weight: bold;
  color: var(--pure-white);

  margin-left: 37px;
  line-height: 64px;
  float: left;
}

#footer .bar .arrow {
  float: left;
  margin: 16px 10px;
  height: 34px;
  width: 34px;
  background-image: var(--down-white-chevron-arrow);
  background-size: cover;
  transform: scaleY(-1);
}

#footer.collapsed .bar .arrow {
  transform: scaleY(1);
}

/* SVG */

#node-link svg text {
  text-anchor: middle;
}

#node-link svg .bubble-wrapper .time-label {
  alignment-baseline: middle;
}

#node-link svg .bubble-wrapper .bubble-outer {
  fill: var(--pure-black);
  cursor: pointer;
}

#node-link svg .bubble-wrapper .bubble-inner {
  fill: var(--main-bg-color);
  stroke: none;
}

#node-link svg .bubble-wrapper.below-stroke-threshold .bubble-inner {
  opacity: 0;
}

#node-link svg .link-outer {
  fill: var(--pure-black);
  cursor: pointer;
}

#node-link svg .link-inner {
  /* TODO: visible only in spiderweb layout */
  stroke: var(--pure-black);
  opacity: 0.5;
}

body[data-highlight-type='files-streams'] svg .type-files-streams,
body[data-highlight-type='networks'] svg .type-networks,
body[data-highlight-type='crypto'] svg .type-crypto,
body[data-highlight-type='timing-promises'] svg .type-timing-promises,
body[data-highlight-type='other'] svg .type-other {
  stroke-width: 2.5px;
}

body[data-highlight-party='user'] svg .party-user .by-variable,
body[data-highlight-party='external'] svg .party-external .by-variable ,
body[data-highlight-type='nodecore'] svg .party-nodecore .by-variable {
  stroke-width: 3px !important;
}

/* Global classes linking styles to data properties */

.party-user .party-icon,
.party-user .by-variable {
  border-color: var(--nearform-red);
  stroke: var(--nearform-red);
}
.party-external .party-icon,
.party-external .by-variable {
  border-color: var(--cyan);
  stroke: var(--cyan);
}
.party-nodecore .party-icon,
.party-nodecore .by-variable {
  border-color: var(--nearform-grey);
  stroke: var(--nearform-grey);
}

.party-user .time-label {
  fill: var(--nearform-red);
}
.party-external .time-label {
  fill: var(--cyan);
}
.party-nodecore .time-label {
  fill: var(--nearform-grey);
}

.type-files-streams,
.type-files-streams .by-variable {
  stroke: var(--type-colour-1);
}
.type-files-streams .type-icon {
  border-color: var(--type-colour-1);
}
.type-networks,
.type-networks .by-variable {
  stroke: var(--type-colour-2);
}
.type-networks .type-icon {
  border-color: var(--type-colour-2);
}
.type-crypto,
.type-crypto .by-variable {
  stroke: var(--type-colour-3);
}
.type-crypto .type-icon {
  border-color: var(--type-colour-3);
}
.type-timing-promises,
.type-timing-promises .by-variable {
  stroke: var(--type-colour-4);
}
.type-timing-promises .type-icon {
  border-color: var(--type-colour-4);
}
.type-other,
.type-other .by-variable {
  stroke: var(--type-colour-5);
}
.type-other .type-icon {
  border-color: var(--type-colour-5);
}


/* Loading indicator based on https://projects.lukehaas.me/css-loaders/#load8
   * Must * animate by transforms only, to keep animating when processor is busy */

.loading-indicator,
.loading-indicator:before,
.loading-indicator:after,
body:not(.initialized):before,
body:not(.initialized):after {
  width: 124px;
  height: 120px;
  position: absolute;
  left: 50%;
  margin: 80px 0 0 -60px;
  z-index: 3;
}

body:not(.initialized) {
  position: relative;
  z-index: 3;
}

body:not(.initialized):before,
.loading-indicator:before {
  content: "";
  border-radius: 50%;
  display: block;
  border-left: 1px solid var(--nearform-grey);
  border-right: 1px solid var(--nearform-grey);
  border-top: 4px solid var(--nearform-red);
  border-bottom: 4px solid var(--nearform-red);
  transform: translateZ(0);
  animation: loading 1.6s infinite linear;
}

body:not(.initialized):after,
.loading-indicator:after {
  font-size: 14pt;
  font-variant: all-small-caps;
  font-weight: bold;
  color: var(--nearform-red);
  text-align: center;

  display: block;
  position: absolute;
}

.loading-indicator:after {
  content: "Loading";
  top: 50px;
}

body:not(.initialized):before {
  top: 65px;
}
body:not(.initialized):after {
  content: "Preparing file";
  top: 115px;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
