html {
  /* Define colors */
  --main-bg-color: rgb(27, 30, 39);
  --overlay-bg-color: rgba(55, 61, 79, 0.99);

  --banner-bg-color: rgb(41, 45, 57);
  --banner-logo-color: rgba(255, 255, 255, 0.87);

  --nearform-red: rgb(237,24,40);
  --nearform-grey: rgb(121,122,124);

  --grey-highlight: rgb(191,192,194);

  --pure-white: rgb(255, 255, 255);
  --pure-black: rgb(0, 0, 0);

  --cyan-bright: rgb(166, 228, 255);
  --cyan-highlight: rgb(96, 147, 208);
  --cyan: rgb(63, 125, 198);

  --party-colour-1: var(--cyan-bright);
  --party-colour-2: var(--cyan);
  --party-colour-3: var(--nearform-grey);

  --type-colour-1: rgb(173, 102, 71); /* Rusty orange */
  --type-colour-2: rgb(0, 209, 168); /* Pale green */
  --type-colour-3: rgb(211, 166, 255); /* Pale lilac */
  --type-colour-4: rgb(102, 69, 181); /* Deep purple */
  --type-colour-5: rgb(252, 255, 123); /* Pale yellow */

  /* Define simple SVG icons */
  --down-white-chevron-arrow: url('data:image/svg+xml;utf8,<svg fill="rgb(255,255,255)" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"/></svg>');
  --close-x: "×";

  /* Define text sizes */
  --main-text-size: 10pt;

  /* Define element sizes used in calculations by other elements */
  --banner-height: 65px;
  --footer-height: 65px;
}

/* Main layout */

html, body {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background: var(--main-bg-color);
}

/* Global Typography */

html {
  font-family: sans-serif;
}

html * {
  box-sizing: border-box;
}

html #banner, html #header, html #node-link, html #side-bar, html #footer {
  /* Light text on dark background in the browser looks blocky. To make it smoother
     and clearer, we use antialiased font rendering in dark theme. More details,
     especially on why this is a bad idea for dark text on light backgrounds:
       http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.light-theme #header, html.light-theme #node-link, html.light-theme #side-bar {
  -webkit-font-smoothing: unset;
  -moz-osx-font-smoothing: unset;
}

.hidden {
  display: none;
}

.collapsed .collapsible-content-wrapper {
  display: none;
}

/* Banner layout */

#banner {
  display: flex;
  align-items: center;
  height: var(--banner-height);
  background: var(--banner-bg-color);
  position: relative;
}

#banner svg {
  fill: var(--banner-logo-color);
  margin-left: 12px;
}

#banner a:last-child svg {
  position: absolute;
  height: 40px;
  right: 28px;
  top: 13px;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Header */

#header {
  width: 100%;
  margin: 4px 24px 4px;
  padding: 4px 0;
  border-bottom: 1px solid var(--cyan);
  display: flex;
  flex-direction: row;
  font-size: var(--main-text-size);
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--main-bg-color);
}

#header .panel {
  margin: 0 18px 0 6px;
}

#header .panel > label {
  color: var(--cyan);
}

#header .interactive-key {
  display: inline-block;
  margin: 0 3px;
  padding: 2px 2px 4px 2px;
  border-bottom: 1px solid transparent;
}

#header .interactive-key label {
  color: var(--pure-white);
  display: inline-block;
  vertical-align: middle;
}

.type-icon,
.party-icon {
  display: inline-block;
  vertical-align: middle;
  /* width and colour are set in js and type/party-specific CSS */
  border-top-style: solid;
  width: 11px;
}

.type-icon {
  margin: 4px;
  height: 1px;
}

.party-icon {
  height: 9px;
  margin: 1px 4px;
  border-bottom-style: solid;
  background: var(--pure-black);
}

body[data-highlight-party='user'] #header .interactive-key.party-user,
body[data-highlight-party='external'] #header .interactive-key.party-external,
body[data-highlight-party='nodecore'] #header .interactive-key.party-nodecore,
body[data-highlight-type='files-streams'] #header .interactive-key.type-files-streams,
body[data-highlight-type='networks'] #header .interactive-key.type-networks,
body[data-highlight-type='crypto'] #header .interactive-key.type-crypto,
body[data-highlight-type='timing-promises'] #header .interactive-key.type-timing-promises,
body[data-highlight-type='other'] #header .interactive-key.type-other {
  border-bottom-color: var(--cyan);
}

body[data-highlight-party='user'] #header .interactive-key.party-user .party-icon,
body[data-highlight-party='external'] #header .interactive-key.party-external .party-icon,
body[data-highlight-party='nodecore'] #header .interactive-key.party-nodecore .party-icon,
body[data-highlight-type='files-streams'] #header .interactive-key.type-files-streams .type-icon,
body[data-highlight-type='networks'] #header .interactive-key.type-networks .type-icon,
body[data-highlight-type='crypto'] #header .interactive-key.type-crypto .type-icon,
body[data-highlight-type='timing-promises'] #header .interactive-key.type-timing-promises .type-icon,
body[data-highlight-type='other'] #header .interactive-key.type-other .type-icon {
  border-top-width: 4px !important;
}

body[data-highlight-party='user'] #header .interactive-key.party-user .party-icon,
body[data-highlight-party='external'] #header .interactive-key.party-external .party-icon,
body[data-highlight-party='nodecore'] #header .interactive-key.party-nodecore .party-icon {
  border-bottom-width: 4px !important;
  height: 11px;
}

/* Footer */

#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: row-reverse;
}

#footer .bar {
  border-top: 1px solid var(--cyan-highlight);
  background: var(--cyan);
  overflow: hidden;
  cursor: pointer;
  height: var(--footer-height);
  width: 25%;
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

#footer .bar .text {
  font-size: 14pt;
  font-variant: all-small-caps;
  font-weight: bold;
  color: var(--pure-white);
  line-height: 64px;
}

#footer .bar .arrow {
  margin: 16px 10px;
  height: 34px;
  width: 34px;
  background-image: var(--down-white-chevron-arrow);
  background-size: cover;
  transform: rotate(270deg);
}

#footer.collapsed .bar .arrow {
  transform: rotate(90deg)
}

#frames-panel {
  background: var(--overlay-bg-color);
  padding: 18px 28px;
  color: var(--pure-white);
  font-size: var(--main-text-size);
  max-height: 300px;
  overflow-y: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 75%;
}

#frames-panel .heading {
  margin: 12px 0;
}

#frames-panel .sub-collapse-control {
  cursor: pointer;
  color: var(--cyan);
}

#frames-panel .this-node > .sub-collapse-control {
  font-weight: bold;
  color: var(--cyan-highlight);
}

#frames-panel .user > .sub-collapse-control {
  color: var(--cyan-highlight);
}

#frames-panel .this-node > .sub-collapse-control:hover,
#frames-panel .this-node > .sub-collapse-control:focus,
#frames-panel .user > .sub-collapse-control:hover,
#frames-panel .user > .sub-collapse-control:focus {
  color: var(--cyan-bright);
}

#frames-panel .sub-collapse-control:hover,
#frames-panel .sub-collapse-control:focus {
  color: var(--cyan-highlight);
}

#frames-panel .collapsed .frame-group .sub-collapse-control {
  display: none;
}

#frames-panel .collapsed .frame-item {
  display: none;
}

#frames-panel .frame-group .delays {
  font-weight: normal;
  color: var(--grey-highlight);
  padding-bottom: 3px;
  margin: 0;
}

#frames-panel .frame-group .delays .figure {
  color: var(--pure-white);
}

#frames-panel .frame-group.node-frame-group {
  padding: 3px 0 0 3px;
}

#frames-panel .node-frame-group .frame-group,
#frames-panel .frame-group .delays {
  border-left: 1px solid var(--nearform-grey);
  margin-left: 3px;
  padding-left: 15px;
}

#frames-panel .frame-group.collapsed .delays {
  border-left: none;
}

#frames-panel .frame-group:not(.collapsed) .frame-group:last-child,
#frames-panel pre.frame-item:last-child {
  padding-bottom: 9px;
}

#frames-panel .frame-item {
  margin: 0 0 0 4px;
  padding: 4px 0;
}

#frames-panel pre.frame-item {
  white-space: pre-wrap;
  padding-left: 14px;
}

#frames-panel div.frame-item {
  padding: 8px 20px;
}

#frames-panel .frame-group .frame-item {
  border-left: solid 1px var(--cyan);
}

#frames-panel .collapsed .sub-collapse-control .arrow {
  transform: rotate(90deg);
}

#frames-panel .sub-collapse-control .arrow {
  display: inline-block;
  margin: 0 6px -3px -3px;
}

#frames-panel .close {
  width: 24px;
  height: 24px;
  color: var(--cyan-highlight);
  position: absolute;
  right: 28px;
  top: 18px;
  display: block;
  font-size: 30px;
  cursor: pointer;
}

#frames-panel .close:after {
  content: var(--close-x);
  display: block;
}

/* View modes: 'maximised', 'fit', 'scroll'; */

body[data-view-mode='fit'] #node-link {
  position: sticky;
  top: 52px; /* TODO: add responsive breakpoints and make this relative to them */
  max-height: calc(100vh - var(--banner-height) - var(--footer-height) - 52px);
  min-height: calc(100vh - var(--banner-height) - var(--footer-height) - 52px);
}

/* Node-link diagram and container */

#node-link {
  position: relative;
  width: 75%;
}

svg.bubbleprof text.text-label {
  text-anchor: middle;
}

svg.bubbleprof .bubble-wrapper .time-label {
  dominant-baseline: middle;
}

svg.bubbleprof .bubble-wrapper .name-label {
  dominant-baseline: text-after-edge;
}

svg.bubbleprof .bubble-wrapper .name-label.flipped-label {
  dominant-baseline: text-before-edge;
}

svg.bubbleprof .name-label {
  font-weight: bold;
  font-size: 11pt;
}

svg.bubbleprof .bubble-wrapper text.name-label.pointing-right {
  text-anchor: start;
  dominant-baseline: middle;
}

svg.bubbleprof .bubble-wrapper text.name-label.pointing-left {
  text-anchor: end;
  dominant-baseline: middle;
}

svg.bubbleprof .below-threshold-1 .name-label {
  font-size: 10pt;
  opacity: 0.9;
}

svg.bubbleprof .below-threshold-2 .name-label {
  font-size: 9pt;
  opacity: 0.8;
}

svg.bubbleprof .below-threshold-3 .name-label {
  font-size: 8pt;
  opacity: 0.7;
}

svg.bubbleprof .time-label {
  font-size: 8pt;
  font-weight: bold;
  paint-order: stroke fill;
  stroke: var(--main-bg-color);
  stroke-width: 4px;
  stroke-opacity: 0.9;
}

svg.bubbleprof .link-wrapper .time-label {
  dominant-baseline: hanging;
}

svg.bubbleprof .below-threshold-1.bubble-wrapper .time-label {
  display: none;
}

svg.bubbleprof .bubble-wrapper,
svg.bubbleprof .link-wrapper {
  cursor: pointer;
}

svg.bubbleprof .bubble-wrapper .bubble-outer {
  fill: var(--pure-black);
  cursor: pointer;
}

svg.bubbleprof .bubble-wrapper .bubble-inner {
  fill: var(--main-bg-color);
  stroke: none;
}

svg.bubbleprof .bubble-wrapper.below-threshold-2 .bubble-inner {
  opacity: 0;
}

svg.bubbleprof .link-outer {
  fill: var(--pure-black);
  cursor: pointer;
}

#sublayout-svg {
  position: absolute;
  background: var(--main-bg-color);
  top: 0;
  margin-bottom: 65px;
}

#node-link .sublayout:after {
  display: block;
  top: 8px;
  right: 8px;
  height: 32px;
  background: var(--pure-black);
  color: var(--cyan);
  content: var(--close-x);
  z-index: 20;
  position: absolute;
  padding: 2px 11px 6px;
  font-size: 28px;
  cursor: pointer;
}

/* Temporary fix to https://github.com/nearform/node-clinic-bubbleprof/issues/92 for sublayouts */
section.sublayout:not(:last-child),
svg#node-link-svg:not(:nth-last-child(2)) {
  display: none;
}

/* Sidebar */

#side-bar {
  width: 25%;
  margin: 16px 0 89px 0;
  padding: 0 24px 0 16px;
  border-left: 1px solid var(--cyan);
  font-size: var(--main-text-size);
  color: var(--nearform-grey);
}

#side-bar .side-bar-item .collapse-control {
  cursor: pointer;
  color: var(--pure-white);
  border-bottom: 1px solid var(--cyan);
  position: relative;
  padding: 8px 16px 8px 8px;
}

#side-bar .side-bar-item .collapse-control .arrow,
#frames-panel .sub-collapse-control .arrow {
  height: 14px;
  width: 16px;
  background-image: var(--down-white-chevron-arrow);
  background-size: cover;
  transform: scaleY(-1);
}

#side-bar .side-bar-item .collapse-control .arrow {
  position: absolute;
  top: 8px;
  right: 0px;
}

#side-bar .side-bar-item.collapsed .collapse-control .arrow {
  transform: scaleY(1);
}

#side-bar .side-bar-item .collapsible-content-wrapper {
  margin-left: 8px;
}

#side-bar .collapsible-content-wrapper .key-image {
  display: block;
  height: 48px;
  width: 48px;
  margin-left: 12px;
  margin-bottom: 6px;
  float: right;
  background-size: cover;
}

#side-bar .key-item-image {
  width: 48px;
  height: 48px;
  float: right;
  margin-left: 6px;
  margin-bottom: 6px;
}

#side-bar .main-key p {
  clear: right;
}

body.spiderweb-layout svg.bubbleprof .link-inner {
  /* TODO: visible only in spiderweb layout */
  stroke: var(--pure-black);
  opacity: 0.5;
}

body[data-highlight-type='files-streams'] svg .type-files-streams,
body[data-highlight-type='networks'] svg .type-networks,
body[data-highlight-type='crypto'] svg .type-crypto,
body[data-highlight-type='timing-promises'] svg .type-timing-promises,
body[data-highlight-type='other'] svg .type-other,

body[data-highlight-party='user'] svg .party-user .by-variable,
body[data-highlight-party='external'] svg .party-external .by-variable ,
body[data-highlight-party='nodecore'] svg .party-nodecore .by-variable,
body[data-highlight-party='nodecore'] svg .party-root .by-variable {
  /* !important overrides the stroke-width style set from js line width settings */
  stroke-width: 4px !important;
}

/* Hover box */

.hover-box {
  position: absolute;
  opacity: 0.86;
  width: 320px;
  background-color: var(--pure-black);
  color: var(--nearform-grey);
  margin-left: 6px;
  z-index: 25;
  margin-top: -26px;
}

.hover-box .block {
  padding: 14px;
}

.hover-box .block:not(:last-child) {
  border-bottom: 2px solid var(--main-bg-color);
}

.hover-box .title-block {
  cursor: pointer;
  position: relative;
}

.hover-box .title-block:before {
  content: "";
  display: block;
  position: absolute;
  margin-left: -18px;
  border: 10px solid transparent;
  border-right-color: var(--pure-black);
  left: 0;
}

.hover-box.off-bottom .time-block {
  bottom: 100%;
  position: absolute;
  background: var(--pure-black);
  border-bottom: 2px solid var(--main-bg-color);
}

.hover-box p {
  margin: 0;
  padding: 6px 0;
  font-size: var(--main-text-size)
}

.hover-box strong {
  font-weight: normal;
  color: var(--grey-highlight);
}

.hover-box h2 {
  margin: 0;
  font-size: 13pt;
  color: var(--pure-white);
  font-weight: bold;
}

.hover-box .click-message {
  display: block;
  position: relative;
  color: var(--cyan);
  font-size: var(--main-text-size);
  font-weight: bold;
}

/* Global classes linking styles to data properties */

.party-user .party-icon,
.party-user .by-variable {
  border-color: var(--party-colour-1);
  stroke: var(--party-colour-1);
}
.party-external .party-icon,
.party-external .by-variable {
  border-color: var(--party-colour-2);
  stroke: var(--party-colour-2);
}

.party-root .party-icon,
.party-root .by-variable,
.party-nodecore .party-icon,
.party-nodecore .by-variable {
  border-color: var(--party-colour-3);
  stroke: var(--party-colour-3);
}

.party-user .text-label {
  fill: var(--party-colour-1);
}
.party-external .text-label {
  fill: var(--party-colour-2);
}
.party-root .text-label,
.party-nodecore .text-label {
  fill: var(--party-colour-3);
}

.type-files-streams,
.type-files-streams .by-variable {
  stroke: var(--type-colour-1);
}
.type-files-streams .type-icon {
  border-color: var(--type-colour-1);
}
.type-networks,
.type-networks .by-variable {
  stroke: var(--type-colour-2);
}
.type-networks .type-icon {
  border-color: var(--type-colour-2);
}
.type-crypto,
.type-crypto .by-variable {
  stroke: var(--type-colour-3);
}
.type-crypto .type-icon {
  border-color: var(--type-colour-3);
}
.type-timing-promises,
.type-timing-promises .by-variable {
  stroke: var(--type-colour-4);
}
.type-timing-promises .type-icon {
  border-color: var(--type-colour-4);
}
.type-other,
.type-other .by-variable {
  stroke: var(--type-colour-5);
}
.type-other .type-icon {
  border-color: var(--type-colour-5);
}


/* Loading indicator based on https://projects.lukehaas.me/css-loaders/#load8
   * Must * animate by transforms only, to keep animating when processor is busy */

.loading-indicator,
.loading-indicator:before,
.loading-indicator:after,
body:not(.initialized):before,
body:not(.initialized):after {
  width: 124px;
  height: 120px;
  position: absolute;
  left: 50%;
  margin: 80px 0 0 -60px;
  z-index: 3;
}

body:not(.initialized) {
  position: relative;
  z-index: 3;
}

body:not(.initialized):before,
.loading-indicator:before {
  content: "";
  border-radius: 50%;
  display: block;
  border-left: 1px solid var(--nearform-grey);
  border-right: 1px solid var(--nearform-grey);
  border-top: 4px solid var(--nearform-red);
  border-bottom: 4px solid var(--nearform-red);
  transform: translateZ(0);
  animation: loading 1.6s infinite linear;
}

body:not(.initialized):after,
.loading-indicator:after {
  font-size: 14pt;
  font-variant: all-small-caps;
  font-weight: bold;
  color: var(--nearform-red);
  text-align: center;

  display: block;
  position: absolute;
}

.loading-indicator:after {
  content: "Loading";
  top: 50px;
}

body:not(.initialized):before {
  top: 65px;
}
body:not(.initialized):after {
  content: "Preparing file";
  top: 115px;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
