html {
  /* Define colors */
  --main-bg-color: rgb(27, 30, 39);

  --banner-text-color: rgb(255, 255, 255);
  --banner-bg-color: rgb(41, 45, 57);

  --nearform-red: #ED1828;
  --nearform-grey: #797A7C;

  --pure-white: rgb(255, 255, 255);

  --cyan-highlight: rgb(96, 147, 208);
  --cyan: rgb(63, 125, 198);

  /* Define simple SVG icons */
  --down-white-chevron-arrow: url('data:image/svg+xml;utf8,<svg fill="rgb(255,255,255)" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"/></svg>');
}

/* Main layout */

html, body {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background: var(--main-bg-color);
}

/* Global Typography */

html {
  font-family: sans-serif;
}

html * {
  box-sizing: border-box;
}

html #banner {
  /* light text on dark background doesn't look so good in the browser compared
     to graphical design tools. This is because graphical design tools uses
     antialiasing, where browsers uses subpixel rendering. To make it look
     like in the design tool, use antialiased font rendering. More details,
     especially on why this is a bad idea:
       http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Banner layout */

#banner {
  height: 65px;
  background: var(--banner-bg-color);
  position: relative;
}

#banner svg:last-child {
  position: absolute;
  height: 40px;
  right: 28px;
  top: 13px;
}

#banner::after {
  content: 'BubbleProf';
  font-size: 14pt;
  font-weight: lighter;
  color: var(--banner-text-color);
  display: block;
  margin-left: 35px;
  line-height: 65px;
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2;
}

#footer .bar {
  border-top: 1px solid var(--cyan-highlight);
  background: var(--cyan);
  overflow: hidden;
  cursor: pointer;
  height: 65px;
  width: 100%;
}

#footer .bar .text {
  margin-left: 37px;
  font-variant: small-caps;
  text-transform: lowercase;
  font-size: 14pt;
  line-height: 64px;
  float: left;
  color: var(--pure-white);
}

#footer .bar .arrow {
  float: left;
  margin: 14px 10px;
  height: 36px;
  width: 36px;
  background-image: var(--down-white-chevron-arrow);
  background-size: cover;
}

/* Loading indicator based on https://projects.lukehaas.me/css-loaders/#load8
   Uses transforms only to keep working when processor is busy */
.loading-indicator,
.loading-indicator:before,
.loading-indicator:after {
  width: 120px;
  height: 120px;
  margin: 80px auto;
  position: relative;
}
.loading-indicator:before {
  content: "";
  border-radius: 50%;
  display: block;
  border-left: 1px solid var(--nearform-grey);
  border-right: 1px solid var(--nearform-grey);
  border-top: 3px solid var(--nearform-red);
  border-bottom: 3px solid var(--nearform-red);
  transform: translateZ(0);
  animation: loading 1.6s infinite linear;
}
.loading-indicator:after {
  content: "LOADING";
  font-size: 15px;
  color: var(--nearform-red);
  display: block;
  position: absolute;
  top: -25px;
  left: 0;
  text-align: center;
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
